.body{
    margin:0;
}
.header{
 background:greenyellow;
 padding: 80px;
 text-align: center;
 color: red;
}
.navbar{
    display: flex;
    justify-content: center;
    background: black;
}
.navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover{
    background: grey;
    color:black;
    font-weight: bold;
}
@media screen and (max-width: 700px){
    .navbar{
        flex-direction: column;
    }
}
.corpo{
    display: flex;
    flex-flow: row wrap;
}
.card{
    flex:48%;
    background: rgb(170, 169, 169);
    height: 400px;
    margin: 1%;

}